<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-sm bg-dark">

    <div class="navbar-header">
        <a class="navbar-brand gradient-text" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            <b>AutoMower.com</b>
        </a>
    </div>

    <ul class="navbar-nav ">
        <li class="nav-item">
        <li><a class="nav-link gradient-text" href="/?login=<%= utilisateur %>&password=<%= password %>"><i
                    class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a class="nav-link gradient-text" href="/tondeuse"><i class="fa-solid fa-gear"></i>Paramètres</a></li>
        <li><a class="nav-link gradient-text" href="/tondeuse/#gps_section"><i
                    class="fa-solid fa-map-location-dot"></i>Gps</a>
        </li>
        <li><a class="nav-link gradient-text" href="/tondeuse/#modes_section"><i class="fa-solid fa-gamepad"></i>Gestion
                modes</a>
        </li>
        </br>
        <li>
            <a class="nav-link">
                <form>
                    <button type="submit" value="Logout" onclick="logout()" id="pokeLogout"><i
                            class="fa-solid fa-right-from-bracket gradient-text"></i></button>
                </form>
            </a>
        </li>
        </li>
    </ul>
</nav>