<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../partials/head') %>
    <style>

    </style>
</head>

<body position:relative>
  <h1 class="text-center gradient-text1">
    Site du R.T.I-22
  </h1>
  </br>
  </br>
  <div class="container">

    <div class="jumbotron">
      <h1 class="text-center">Login</h1>
      </br></br></br>
      <form method='get'>
        <div class="imgcontainer">
          <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="Avatar" class="avatar">
        </div class="formLogin">

        <label for="login"><b>Username :</b></label> </br>
        <input type="text" name="login" placeholder="Enter Username" id="login" required> </br></br>

        <label for="password"><b>Password :</b></label></br>
        <input type="password" name="password" placeholder="Enter Password" id="password" required> </br></br>

        <button type="submit" value="Login" id="pokeLogin" class="buttonLogin">Login</button>

      </form>
    </div>
    </br>
  </div>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>