<!DOCTYPE html>
<html lang="fr">

<head text="text-centered">
    <%- include('../partials/head') %>

</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="jumbotron">
        <h1>Erreur au niveau du login !!</h1>
        </br>
        <p>L'utilisateur indiquer n'existe pas ou le mot de passe n'est pas bon.</p>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>